  


  <div class="row mb-4 mt-xxxl">
    <div class="col-md-12">
      <form [formGroup]="filterForm" class="d-flex flex-column">
        <div class="input-group input-light mb-xl">
          <div class="input-group-prepend">
            <i class="input-group-text neon search-bold"></i>
          </div>
          <input type="text" formControlName="search" class="form-control" placeholder="Search icon">
        </div>

        <div class="d-flex flex-column flex-md-row">
          <div class="custom-control custom-radio mr-md">
              <input formControlName="weight" value="all" type="radio" id="all" name="weight" class="custom-control-input">
              <label class="custom-control-label" for="all">All</label>
            </div>
          <div class="custom-control custom-radio mr-md">
              <input formControlName="weight" value="light" type="radio" id="light" name="weight" class="custom-control-input">
              <label class="custom-control-label" for="light">Light</label>
            </div>
            <div class="custom-control custom-radio mr-md">
              <input formControlName="weight" value="medium" type="radio" id="medium" name="weight" class="custom-control-input">
              <label class="custom-control-label" for="medium">Medium</label>
            </div>
            <div class="custom-control custom-radio mr-md">
                <input formControlName="weight" value="bold" type="radio" id="bold" name="weight" class="custom-control-input">
                <label class="custom-control-label" for="bold">Bold</label>
            </div>

            <div class="flex-grow-1"></div>

            <div class="custom-control custom-checkbox checkbox-primary mt-3 m-md-0">
              <input formControlName="rounded" type="checkbox" class="custom-control-input" id="rounded">
              <label class="custom-control-label" for="rounded">Rounded corner</label>
            </div>
        </div>
        
      </form>

    </div>
  </div>
  <loader *ngIf="iconService.isLoading"></loader>

  <div class="icons-wrap">
    <div class="icon-box mb-xxl" *ngFor="let i of icons$ | async" [ngbTooltip]="i">
      <div class="card text-center py-xxl">
          <i class="neon copy-medium icon-copy" (click)="copyIconName(i)"></i>
          <i class="neon {{i}}"></i>
      </div>
    </div>
  </div>
