<div class="row" style="height: calc(100vh - 170px)">
  <div class="col-md-12 rounded">
    <div class="card p-xl">
        <p class="mb-xxl d-flex">
            <a routerLink="/" class="btn btn-icon btn-outline btn-outline-primary">
              <i class="neon arrow-left-bold"></i>
            </a>
            <span class="flex-grow-1"></span>
              <a
                class="btn btn-raised btn-raised-primary"
                href="/neon-icon/assets/downloads/neon.zip"
              >
                <i class="neon cloud-download-bold"></i> Download icon font</a
              >
            </p>
      <div class="row">
        <div class="col-md-8">
            
          
              <p>Include neon in your project asset folder. Then include css before <code>&lt;/head></code> tag</p>
              <code>&lt;link href="path/to/neon/neon.css" rel="stylesheet" /></code>
          
              <h6 class="mt-xl">Using icon</h6>
              <code>&lt;i class="neon user-bold-01">&lt;/i></code>
        </div>
      </div>
    </div>
    <!-- <h1>Download</h1> -->
    
  </div>
</div>
